@{
    ViewBag.Title = "About";
}

<img src="@Url.Content("~/Content/Images/discGolfThrower.jpg")" alt="Disc Golf Photo" class="center-block" />
<br />
<div class="row">
    <div class="col-md-6">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut id quam viverra quam consequat accumsan vel nec dolor. Aliquam tempor 
            vitae urna non hendrerit. Praesent nec elit laoreet, lobortis nisi id, vehicula lorem. Donec lobortis vestibulum ultrices. Quisque 
            sed rhoncus nisl, at varius dolor. Morbi quam odio, consequat at hendrerit id, aliquet quis elit. Maecenas posuere scelerisque malesuada. 
            Donec molestie nisi at arcu pulvinar sagittis. Vestibulum volutpat diam augue, vitae fringilla quam varius vitae.
        </p>
        <p>
            Integer ornare tellus ut ullamcorper imperdiet. Curabitur elementum dui id mi eleifend, molestie pulvinar mauris dapibus. Nam posuere molestie tincidunt. 
            Integer tincidunt dolor vitae eros ullamcorper, ac condimentum massa gravida. Mauris sed fermentum lectus. Duis gravida ipsum quis dapibus imperdiet. 
            Donec mattis neque vehicula, semper nunc ac, convallis tellus. Quisque varius congue ante vel eleifend. Phasellus placerat ex ut libero fringilla varius. 
            Sed bibendum at justo vitae ultrices. Vivamus ut fermentum ante, in porta mi.
        </p>
    </div>
    <div class="col-md-6">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut id quam viverra quam consequat accumsan vel nec dolor. Aliquam tempor
            vitae urna non hendrerit. Praesent nec elit laoreet, lobortis nisi id, vehicula lorem. Donec lobortis vestibulum ultrices. Quisque
            sed rhoncus nisl, at varius dolor. Morbi quam odio, consequat at hendrerit id, aliquet quis elit. Maecenas posuere scelerisque malesuada.
            Donec molestie nisi at arcu pulvinar sagittis. Vestibulum volutpat diam augue, vitae fringilla quam varius vitae.
        </p>
        <p>
            Integer ornare tellus ut ullamcorper imperdiet. Curabitur elementum dui id mi eleifend, molestie pulvinar mauris dapibus. Nam posuere molestie tincidunt.
            Integer tincidunt dolor vitae eros ullamcorper, ac condimentum massa gravida. Mauris sed fermentum lectus. Duis gravida ipsum quis dapibus imperdiet.
            Donec mattis neque vehicula, semper nunc ac, convallis tellus. Quisque varius congue ante vel eleifend. Phasellus placerat ex ut libero fringilla varius.
            Sed bibendum at justo vitae ultrices. Vivamus ut fermentum ante, in porta mi.
        </p>
    </div>
</div>