
@{
    ViewBag.Title = "Admin";
}

<h2>Application Administration</h2>

@Html.ActionLink("Click here to manage the courses.", "Index", "Courses") <br />
@Html.ActionLink("Click here to manage the reviews.", "Index", "CourseReviews") <br />
@Html.ActionLink("Click here to manage the users.", "Index", "Account") <br />
@Html.ActionLink("Click here to manage the user roles.", "Index", "IdentityRoles") <br /> 
