@{
    ViewBag.Title = "Contact";
}
<h2>Contact Us</h2>

<address>
    Main Location: <br />
    2095 Mancelona Rd<br />
    Mancelona, MI 49659<br />
    <abbr title="Phone">P:</abbr>
    555.555.5555
    <br />
    <br />
    Denver Location: <br />
    800 S Denver Rd <br />
    Denver, CO 80246 <br />
    <abbr title="Phone">P:</abbr>
    444.333.2222
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:mccart84@mail.nmc.edu">Support@discGolfConnect.com</a>
</address>