@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-8">
        <div class="jumbotron">
            <img src="~/Images/hickory.jpg" class="img-responsive" /> 
        </div>
    </div>
    <div class="col-md-4">
        <aside>
            <h2>Player of the Month</h2>
            <h3>March 2016</h3>
            <img src="~/Images/player.jpg" class="img-responsive center-block"/>
            <p>
                This months player of the month is Ryan McCarty.
            </p>
        </aside>
    </div>
</div>


<div class="row">
    <div class="col-md-4">
        <h2>News</h2>
        <p>
            Ut risus neque, laoreet sit amet sodales nec, congue sed turpis. Curabitur et justo sed arcu sagittis aliquet. In hac habitasse 
            platea dictumst. In tellus ipsum, pretium et augue eu, ultrices egestas elit. Quisque eget tristique sapien, commodo suscipit nisl. 
            Vestibulum in est sed urna accumsan fermentum sed sed ipsum. Morbi pulvinar nisi id nunc hendrerit, ac posuere lorem blandit. 
            Vestibulum et orci efficitur, placerat elit sit amet, vestibulum nunc. Donec sed bibendum ante. Duis cursus urna purus, at aliquam 
            mi lobortis at. Sed ultricies varius magna sit amet rutrum.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Tournaments</h2>
        <p>
            Sed lobortis malesuada est vitae vulputate. In placerat bibendum consectetur. Cras consectetur sem erat, sit amet tincidunt elit 
            lacinia eget. Etiam mattis consectetur arcu, non mattis odio rutrum non. Suspendisse ultrices, erat a accumsan convallis, quam 
            purus commodo lorem, quis interdum lectus neque nec orci. Phasellus tempus lobortis vulputate. Proin porttitor mi nibh, mollis 
            pulvinar orci mattis sed. Donec eu cursus nulla. Praesent quis vestibulum augue. Integer egestas ex nunc, eu auctor purus volutpat 
            sed. Proin eu metus iaculis, dictum enim vulputate, consectetur diam.
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>New Courses</h2>
        <p>
            Suspendisse vel erat lorem. Fusce at malesuada eros, vel luctus dolor. Vivamus faucibus id velit et elementum. In hac habitasse 
            platea dictumst. Ut in lacus libero. Vestibulum libero nisi, lobortis nec erat vel, rutrum viverra diam. Aliquam eget velit consectetur, 
            maximus lorem eu, ornare magna.
        </p>
    </div>
</div>